@media (max-width:1030px) {
  /* Navigation CSS */

  #header .topbar {
    height: 5vh;
    font-size: 2rem;
  }

  /* Home CSS */
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 65% center;
    min-height: 400px;
  }

  .home .home-banner .home-banner-text {
    transform: translate(-80%, -40%);
  }

  .home .home-banner .home-banner-text1 {
    transform: translate(-90%, -40%);
  }

  .home .home-banner .home-banner-text2 {
    transform: translate(-60%, -40%);
  }

  /* Offer CSS */
  .offers .offer-box .offer-info .heading-bigger {
    font-size: 3rem;
  }
}



@media (max-width:991px) {
  /* Navigation CSS */

  #header .topbar .top-icons {
    font-size: 1rem;
    margin-left: 0.625rem;
  }

  #header .topbar .top-icons i {
    padding: 0.245rem;
  }

  #header .topbar .other-links {
    margin-right: 1rem;
    font-size: 1rem;
  }

  #header .topbar .other-links .btn {
    margin-right: 0.625rem;
    padding: 0.125rem 0.225rem;
    font-size: 1rem;
  }

  /* Home CSS */
  .home .home-banner .home-banner-text {
    transform: translate(-66%, -50%);
  }

  .home .home-banner .home-banner-text1 {
    transform: translate(-60%, -40%);
  }

  .home .home-banner .home-banner-text2 {
    transform: translate(-50%, -40%);
  }

  /* Special CSS */

  .special .countdown-container {
    padding-top: 1rem;
    padding-bottom: 5rem;
  }

  /* Testimonial CSS */

  .testimonial .carousel-control-prev {
    left: -1.75rem;
  }

  .testimonial .carousel-control-next {
    right: -1.75rem;
  }
}


@media (max-width:767px) {
  /* Navigation CSS */

  #header .topbar .top-icons {
    font-size: 1rem;
    margin-left: 0.625rem;
  }

  #header .topbar .top-icons i {
    padding: 0.245rem;
  }

  #header .topbar .other-links {
    margin-right: 1rem;
    font-size: 1rem;
  }

  #header .topbar .other-links .btn {
    margin-right: 0.625rem;
    padding: 0.125rem 0.225rem;
    font-size: 1rem;
  }

  /* Home CSS */
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 50% center;
    min-height: 350px;
  }

  .navbar .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    text-align: center;
  }

  .home .home-banner .home-banner-text1,
  .home .home-banner .home-banner-text2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .home .home-banner .home-banner-text1 h1,
  .home .home-banner .home-banner-text2 h1 {
    font-size: 3rem;
  }

  .home .home-banner .home-banner-text1 h2,
  .home .home-banner .home-banner-text2 h2 {
    font-size: 1.2rem;
  }

  .home .home-banner .home-banner-text .btn-dark {
    padding: 0.5rem 1.5rem;
  }

  .home .slider-icon {
    font-size: 2rem;
  }

  /* Shop Now */

  .products .shop-now-content h2 {
    font-size: 1rem;
  }

  .products .shop-now-content h2:hover {
    font-size: 1.2rem;
    font-weight: 500;
  }

  /* Offer CSS */
  .offers .offer-box .offer-info .heading-bigger {
    font-size: 2rem;
  }

  /* Special CSS */

  .special {
    padding: 4rem 0;
  }

  .special .coundown-container .countdown-counter li {
    padding: 1rem;
    width: 20%;
  }

  /* Testimonial CSS */

  .testimonial .carousel-control-prev,
  .testimonial .carousel-control-next {
    display: none;
  }

  .testimonial .testimonial-wrapper {
    padding: 1rem;
  }

  /* About Us */

  .aboutus .about-us h2 {
    font-size: 2rem;
  }

  .aboutus .about-us img {
    height: 200px;
  }
}



@media (max-width:330px) {
  /* Navigation CSS */

  #header .topbar .other-links .btn {
    font-size: 0.625rem;
  }

  #header .topbar .top-icons {
    margin-left: 0.655rem;
  }

  #header .topbar .top-icons i {
    padding: 0.245rem;
    font-size: 0.725rem;
  }

  #header .topbar .other-links {
    margin-right: 0.625rem;
  }

  #header .topbar .other-links i {
    margin-right: 0.255rem;
    font-size: 0.725rem;
  }

  /* Home CSS */
  .home .home-banner .home-banner-text h2 {
    font-size: 1rem;
  }

  /* Shop Now */

  .products .shop-now-content h2 {
    font-size: 0.625rem;
  }

  .products .shop-now-content h2:hover {
    font-size: 1rem;
    font-weight: 500;
  }

  .aboutus .about-us h2 {
    font-size: 1rem;
    top: 50%;
  }

  .aboutus .about-us img {
    height: 200px;
  }
}